{{define "notFoundPage"}}
    <!doctype html>
    <html>
        {{template "head"}}
        <body> 
            <div class="d-flex align-items-center" style="height: 100vh;">
                <div class="container fs-5">
                    <div class="row">
                        <div class="col-md-4 mx-auto border border-danger rounded-1 d-flex align-items-center justify-content-center" style="height: 75px;">
                            <span class="text-danger">Страница не найдена</span>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
{{end}}