{{define "profileBlock"}}
    <div class="containter">
        <div class="row">
            <div class="col-md-6 offset-md-0">
                <div class="ms-4 w-100" style="overflow-wrap: break-word;">
                    <p><b>Роль: </b>{{ .RoleString }}</p>
                    <p>
                        <b>Фамилия: </b>{{ .Surname }}
                    </p>
                    <p>
                        <b>Имя: </b>{{ .Name }}
                    </p>
                    {{ if ne .LastName "" }}
                        <p>
                            <b>Отчество: </b>{{ .LastName }}
                        </p>
                    {{ end }}
                    <p>
                        <b>Telegram ID: </b>
                        {{ if ne .TelegramId "" }} 
                            {{ .TelegramId }}
                        {{ else }}
                            не указан
                        {{ end }}
                    </p>
                    <p class="mb-1"><b>Учебные группы: </b></p>
                    <ul>
                        {{ range .Groups }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                    <p class="mb-1"><b>Учебные дисциплины: </b></p>
                    <ul>
                        {{ range .Subjects }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                    <p>
                        <b>Создан: </b>{{ .CreatedAt }}
                    </p>
                    {{ if ne .UpdatedAt "" }}
                    <p>
                        <b>Изменён: </b>{{ .UpdatedAt }}
                    </p>
                {{ end }}
                <p>
                </div>
            </div>
        </div>
    </div>
{{end}}